In [1]:
jupyter notebook

SyntaxError: invalid syntax (<ipython-input-1-ba6c65dc902f>, line 1)

In [2]:
1+2

3

In [3]:
a = 2
b = 3

In [4]:
c = a*b

In [5]:
print(c)

6

In [6]:
yourname = "student"

In [7]:
print('Hello', yourname)

Hello student

In [9]:
def print_10_nums():
    for i in range(10):
        print(i, end=' ')

In [10]:
print_10_nums()

0 1 2 3 4 5 6 7 8 9

In [11]:
s = """hello
world"""
print s

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(s)? (<ipython-input-11-96465640a58c>, line 3)

In [12]:
s = """hello
world"""
print （s）

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(（s）)? (<ipython-input-12-1879ab2adec6>, line 3)

In [13]:
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
a & b

{2, 3, 4}

In [14]:
d = {'dogs':5, 'cats':4}
d

{'cats': 4, 'dogs': 5}

In [15]:
%matplotlib inline
from matplotlib.pyplot import plot
plot(a, a**2)

TypeError: unsupported operand type(s) for ** or pow(): 'set' and 'int'

In [16]:
matplotlib inline
from matplotlib.pyplot import plot
plot(a, a**2)

SyntaxError: invalid syntax (<ipython-input-16-09a9d5a493d4>, line 1)

In [17]:
line = '1 2 3 4 5 6'
fields = line.split()
fields

['1', '2', '3', '4', '5', '6']

In [18]:
total = 0
for field in fields:
    total += int(field)
total

21

In [19]:
numbers = [int(field) for field in fields]
numbers

[1, 2, 3, 4, 5, 6]

In [20]:
class Person(object):
    def __init__(self, first, last, age):
        self.first = first
        self.last = last
        self.age = age
    def full_name(self):
        return self.first + ' ' + self.last

In [21]:
person = Person('Mertle', 'Sedgewick', 52)

In [22]:
person.first

'Mertle'